/* Configuração do APP */
.App {
  background-color: #193c40;
  font-family: Montserrat, sans-serif;
  color: #f2ede9;
  min-height: 100vh;
}

/* Implementação do Hover */
.bloco {
  overflow: hidden;
}
.bloco img {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.bloco img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/* Estilização do input de busca */
#divBusca {
  background-color: #2f4f4f;
  border: solid 1px;
  border-radius: 15px;
  width: 300px;
  margin: auto;
}

#txtBusca {
  float: left;
  background-color: transparent;
  padding-left: 5px;
  font-style: italic;
  font-size: 18px;
  color: #f2ede9;
  border: none;
  height: 32px;
  width: 260px;
}
