.App {
  background: repeat;
  background-color: #193c40;
  font-family: Montserrat, sans-serif;
  color: #f2ede9;
}

.bloco {
  overflow: hidden;
}
.bloco img {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.bloco img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
